
<div class="author-info">
	<div class="avatar">
	{% if site.owner.avatar.indexOf("http") > -1 %}
		<img src="{{ site.owner.avatar }}" class="bio-photo img-circle" alt="{{ site.owner.name }} bio photo"></a>
	{% else %}
		<img src="/assets/images/{{ site.owner.avatar }}" class="bio-photo img-circle" alt="{{ site.owner.name }} bio photo"></a>
	{% endif %}
	</div>

	<div class="links">
		<h2>{{ site.owner.name }}</h2>
		{% if site.owner.bio %}<p>{{ site.owner.bio }}</p>{% endif %}

		{# encrypted email #}
		<script>
		{coded="sf1wGssjFj@3Fj7s.1rF";key="vj3uqe0V1XCQ6FOs7KTAbEpfYdtonhZyWBMx2R8NkS4ag5IrzPcGUJHmLliDw9";shift=coded.length;link="";for(i=0;i<coded.length;i++){if(key.indexOf(coded.charAt(i))==-1){ltr=coded.charAt(i);link+=ltr}else{ltr=(key.indexOf(coded.charAt(i))-shift+key.length)%key.length;link+=key.charAt(ltr)}}
		document.write('<a href="mailto:'+link+'" class="author-social" target="_blank"><i class="fa fa-envelope-square"></i>Email</a>')}
		</script>

		{% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" class="author-social" target="_blank"><i class="fa fa-twitter-square"></i>Twitter</a>{% endif %}
		{% if site.owner.facebook %}<a href="http://facebook.com/{{ site.owner.facebook }}" class="author-social" target="_blank"><i class="fa fa-facebook-square"></i>Facebook</a>{% endif %}
		{% if site.owner.google.plus %}<a href="http://plus.google.com/+{{ site.owner.google.plus }}" class="author-social" target="_blank"><i class="fa fa-google-plus-square"></i>Google+</a>{% endif %}
		{% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}" class="author-social" target="_blank"><i class="fa fa-linkedin-square"></i>LinkedIn</a>{% endif %}
		{% if site.owner.instagram %}<a href="http://instagram.com/{{ site.owner.instagram }}" class="author-social" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>{% endif %}
		{% if site.owner.tumblr %}<a href="http://{{ site.owner.tumblr }}.tumblr.com" class="author-social" target="_blank"><i class="fa fa-tumblr-square"></i>Tumblr</a>{% endif %}
		{% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" class="author-social" target="_blank"><i class="fa fa-github"></i>Github</a>{% endif %}
		{% if site.owner.stackoverflow %}<a href="http://stackoverflow.com/users/{{ site.owner.stackoverflow }}" class="author-social" target="_blank"><i class="fa fa-stack-overflow"></i>Stackoverflow</a>{% endif %}
		{% if site.owner.lastfm %}<a href="http://lastfm.com/user/{{ site.owner.lastfm }}" class="author-social" target="_blank"><i class="fa fa-music"></i>Last.fm</a>{% endif %}
		{% if site.owner.dribbble %}<a href="http://dribbble.com/{{ site.owner.dribbble }}" class="author-social" target="_blank"><i class="fa fa-dribbble"></i>Dribbble</a>{% endif %}
		{% if site.owner.pinterest %}<a href="http://www.pinterest.com/{{ site.owner.pinterest }}" class="author-social" target="_blank"><i class="fa fa-pinterest"></i>Pinterest</a>{% endif %}
		{% if site.owner.foursquare %}<a href="http://foursquare.com/{{ site.owner.foursquare }}" class="author-social" target="_blank"><i class="fa fa-foursquare"></i>Foursquare</a>{% endif %}
		{% if site.owner.steam %}<a href="http://steamcommunity.com/id/{{ site.owner.steam }}" class="author-social" target="_blank"><i class="fa fa-steam-square"></i>Steam</a>{% endif %}
	</div>
</div>
