---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---

<ul class="articles">
{{#withSort article 'data.date'}} {{#each this.pages}}
   {{#is data.featured true}}
   <li>
      <a href="{{relative ../../page.dest this.dest}}">{{ data.title }}</a>
   </li>
   {{/is}}
{{/each}} {{/withSort}}
   <li>
      <a href="/articles/">View All</a>
   </li>
</ul>
