<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>{{page.title}} - {{site.title}}</title>

   {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
   <meta name="viewport" content="width=device-width, initial-scale=1">

   {% include "includes/social-head.html" %}
   {% if site.owner.google.verify %}<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}
   {% if site.owner.bing-verify %}<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">{% endif %}

   <script src="//use.typekit.net/qug8qmc.js"></script>
   <script>try{Typekit.load();}catch(e){}</script>

   <link rel="stylesheet" href="/styles/main.css">
   <script src="/scripts/vendor/modernizr.custom.min.js"></script>


   <link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
   <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
</head>

<body class="{{ page.nav }}">

   <header class="main">
      <a href="#menu" class="menu"><span>menu</span><span class="is-open">close</span></a>
      <a href="/" class="logo"><span>frank</span><span>hadder</span></a>
      <nav>
         <ul>
            <!-- <li role="presentation"><a {% if page.nav == "about" %}class="active"{% endif %} href="/about">about</a></li> -->
            <li role="presentation"><a {% if page.nav == "article" %}class="active"{% endif %} href="/">articles</a></li>
         </ul>
      </nav>
   </header>

   <main>
      {% block content %}{% endblock %}
   </main>

   {% include "includes/footer.html" %}

   <div id="loading-indicator">

   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="/scripts/vendor/jquery.min.js"><\/script>')</script>
   <script src="/scripts/vendor/lodash-2.4.1.min.js"></script>
   <script src="/scripts/vendor/bootstrap.min.js"></script>

   <!--script src="/scripts/app/ajax-load.js"></script-->
   <script src="/scripts/app/menu.js"></script>
   {% for key, val in page.scripts %}
     <script src="{{ val }}"></script>
   {% endfor %}

   {# {{> google-analytics }}
   {{> disqus }} #}

</body>

</html>
